/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-cart-mini {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    padding: 10px 60px 10px 0;
    min-height: 70px;
    overflow: hidden;
    max-width: 100%;
    transition: all ease 0.2s;
    max-height: 100px;
    &.deleted {
        max-height: 0;
        min-height: 0;
        padding: 0;
    }
    .cart-photo-wrap {
        width: 57px;
        flex-shrink: 0;
    }
    .cart-info-wrap {
        flex: 1;
        padding: 0 10px 0 0;
    }
    .cart-counter-wrap {
        flex-shrink: 0;
        width: 72px;
    }
    .elm-image {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    .cart-link {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .btn-action-ico.ico-trash {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin: -20px 0 0 0;
        z-index: 5;
    }
    .cart-title {
        display: block;
    }
    .cart-count {
        display: block;
        font-weight: bold;
    }
    .frm-counter {
        z-index: 5;
    }
}
.item-action {
    display: block;
    position: relative;
    line-height: 1;
    img {
        display: block;
        width: 100%;
    }
}
.item-category {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 24/18;
    font-style: italic;
    color: #5e514c;
    font-size: 18px;
    font-weight: 400;
    &:hover {
        color: var(--clr-title);
    }
    .cat-photo {
        display: block;
        position: relative;
        overflow: hidden;
        line-height: 1;
        &:before {
            content: "";
            display: block;
            padding-top: 64%;
        }
    }
    .cat-text-wrap {
        display: block;
        position: relative;
        padding: 20px 0 0 0;
    }
    .cat-title {
        display: block;
    }
    .cat-total {
        display: block;
        color: #b0b0b0;
    }
}

.item-toggle {
    display: block;
    position: relative;
    .btn-toggle {
        display: flex;
        background: #f2e0c6;
        font-size: 24px;
        line-height: 30/24;
        align-items: center;
        color: #000;
        padding: 12px 20px 12px 20px;
        &:after {
            content: "";
            .i;.icon-arrow11;
            margin: 5px 0 0 10px;
            transition: transform ease 0.2s;
        }
        &.active {
            &:after {
                .t-rotate(180deg);
            }
        }
    }
    .toggle-block {
        padding: 20px 20px 0 48px;
        font-size: 18px;
        line-height: 2;
        display: none;
        animation: fadeinslide ease 0.2s;
        ol li {
            margin: 0;
        }
    }
}
.item-article-info {
    display: block;
    font-size: 14px;
    line-height: 18/14;
    color: #000000;
    text-align: left;
    .info-title {
        display: block;
        color: #b7b7b7;
    }
}
.item-article-inner {
    display: block;
    position: relative;
    padding: 20px 28px 20px 28px;
    font-size: 14px;
    line-height: 17/14;
    color: #543029;
    text-decoration: none;
    &:hover {
        color: var(--clr-title);
    }
    .art-title {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 1em;
    }
}
.item-new {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 30/16;
    font-weight: 300;
    text-align: center;
    color: #543129;
    .new-photo {
        display: block;
        position: relative;
        overflow: hidden;
        line-height: 1;
        img {
            display: block;
            width: 100%;
        }
    }
    .new-photo-wrap {
        display: block;
        position: relative;
    }
    .new-text-wrap {
        display: block;
        position: relative;
        padding: 15px 20px 0 20px;
    }
    .new-title, .new-date {
        display: block;
        margin: 0;
        text-align: center;
        font-weight: bold;
    }
    .new-text {
        display: block;
    }
    &:hover {
        color: #543129;
    }
}
.item-rate {
    display: block;
    position: relative;
    font-size: 14px;
    color: #543029;
    line-height: 17/14;
    box-shadow: 0px 0px 5px 0px rgba(38, 39, 42, 0.36);
    .rate-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        padding: 12px 18px 12px 20px;
        background: #b37542;
    }
    .rate-content-wrap {
        display: flex;
        align-items: flex-start;
        padding: 10px 18px 15px 20px;
    }
    .rate-total-wrap {
        width: 220px;
        flex-shrink: 0;
    }
    .rate-text-wrap {
        flex: 1;
        padding-left: 16px;
        max-width: calc(100% - 220px);
    }
    .rate-rows-wrap {
        display: block;
        position: relative;
        line-height: 1;
    }
    .rate-row {
        font-size: 11px;
        line-height: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rate-total {
        font-size: 12px;
        line-height: 17/12;
        font-weight: 600;
        text-align: center;
        padding-left: 20px;
        margin-bottom: 15px;
        .elm-rates {
            margin: 0 auto;
            display: inline-flex;
        }
    }
    .rate-title {
        display: block;
        font-size: 18px;
    }
    .row-title {
        display: block;
        padding: 0 10px 0 0;
    }
    .total-title {
        display: block;
        text-align: center;
        margin-bottom: 14px;
    }
}
.item-faq {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #5e514c;
    box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.19);
    .btn-faq {
        display: block;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        color: #5e514c;
        padding: 15px 40px 15px 30px;
        position: relative;
        &:before, &:after {
            content: "";
            .i;.icon-arrow08;
            transition: all ease 0.2s;
            position: absolute;
            top: 50%;
            right: 14px;
            margin-top: -10px;
        }
        &:after {
            .icon-arrow09;
            opacity: 0;
        }
        &:hover {
            color: var(--clr-att);
        }
        &.active {
            &:before, &:after {
                .t-rotate(180deg);
            }
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
    .faq-block {
        display: none;
        padding: 0 40px 10px 30px;
    }
}
.item-article {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    color: #5e514c;
    line-height: 11/9;
    &:hover {
        color: var(--clr-title);
    }
    .item-photo {
        &:before {
            padding-top: 65.6%;
        }
    }
    .art-text-wrap {
        display: block;
        padding: 10px 20px 0 20px;
    }
    .art-title {
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #5e514c;
        margin: 0 0 6px 0;
        text-transform: none;
    }
}
.item-review {
    display: block;
    position: relative;
    padding: 15px 20px 35px 20px;
    font-size: 18px;
    color: #543029;
    .rv-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #5fb61c;
        padding-left: 32px;
        position: relative;
        display: block;
        margin-bottom: 15px;
        &:before {
            .i;.icon-user-att;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }
        a {
            color: #5fb61c;
        }
    }
    .rv-text {
        display: block;
        margin-top: 12px;
    }
    .rv-actions {
        display: block;
        position: relative;
        line-height: 1;
        margin-bottom: 15px;
    }
    .rv-rate {
        display: block;
        position: relative;
        line-height: 1;
        margin-bottom: 15px;
    }
    .rv-date {
        display: block;
        margin-bottom: 12px;
    }
    .btn-action-rate {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.item-video {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 1;
    height: 100%;
    &:before {
        content: "";
        display: block;
        padding-bottom: 74%;
    }
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-bg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .btn-action-ico {
        display: block;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        z-index: 4;
        margin: auto;
        &.ico-video {
            width: 142px;
            height: 142px;
        }
    }
    &:after {
        content: "";
        display: block;
        z-index: 2;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
    }
    &.active {
        .video-bg, img, .btn-action-ico, &:after {
            display: none;
        }
    }
}
.elm-stock {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 24px;
    &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 12px;
        left: 0;
        margin-top: -5px;
        border-radius: 50%;
        background: #000;
    }
    &.instock {
        &:before {
            background: #28b50c;
        }
    }
    &.outstock {
        &:before {
            background: #de0931;
        }
    }
}
.item-cart {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28/24;
    color: #5e514c;
    .cart-photo-wrap {
        width: 232px;
        padding: 0 46px 0 0;
        display: block;
        flex-shrink: 0;
    }
    .cart-info-wrap {
        flex: 1;
        display: block;
    }
    .cart-title-wrap {
        margin-bottom: 28px;
    }
    .elm-image {
        width: 100%;
        height: 140px;
        background: #fff;
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
    .cart-price-wrap {
        font-size: 25px;
    }
    a {
        color: #5e514c;
    }
    .elm-price {
        display: inline;
        vertical-align: baseline;
    }
}
.item-order-total {
    display: block;
    position: relative;
    .btn-order-toggle {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 48px;
        padding: 10px 30px 10px 60px;
        font-size: 24px;
        font-weight: 400;
        color: #000;
        line-height: 1.1;
        &:before {
            content: "";
            .i;.icon-arrow06;
            position: absolute;
            top: 50%;
            left: 38px;
            margin-top: -4px;
        }
    }
    .order-block {
        display: none;
        padding: 20px 20px 32px 60px;
    }
    
}
.item-order-product {
    font-size: 18px;
    display: block;
    position: relative;
    .product-title {
        display: block;
        margin: 0 0 25px 0;
        a {
            color: #000;
            &:hover {
                color: var(--clr-att);
            }
        }
    }
    .product-info-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 600;
        flex-wrap: wrap;
    }
    .pr-price {
        display: flex;
        width: 265px;
    }
    .pr-count {
        padding-right: 10px;
    }
    .elm-price {
        margin: 0 10px 0 0;
        &:last-child {
            margin-right: 0;
        }
    }
}
.item-tile {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 8px 13.35px 1.65px rgba(0, 1, 1, 0.12);
    color: #5e514c;
    font-weight: 600;
    font-size: 15px;
    line-height: 18/15;
    background: #fff;
    transition: box-shadow ease 0.2s;
    &:hover {
        color: #5e514c;
        box-shadow: 0px 14px 13.35px 1.65px rgba(0, 1, 1, 0.22);
    }
    .tile-photo-wrap {
        display: block;
        position: relative;
        overflow: hidden;
    }
    .tile-info-wrap {
        height: 80px;
        padding: 8px 20px 8px 24px;
        display: flex;
        align-items: center;
        color: #5e514c;
        &:hover {
            color: #5e514c;
        }
        a {
            color: #5e514c;
            &:hover {
                color: #5e514c;
            }
        }
    }
    .tile-title {
        display: block;
        font-weight: 600;
        font-size: 1em;
        margin: 0;
        width: 100%;
        &.title-large {
            font-size: 24px;
        }
    }
    .tile-photo {
        display: block;
        position: relative;
        overflow: hidden;
        line-height: 1;
        max-height: 400px;
        &:before {
            content: "";
            display: block;
            padding-top: 68.75%;
        }
    }
    .elm-date {
        position: absolute;
        bottom: 27px;
        left: 24px;
        z-index: 3;
    }
    .elm-more {
        position: absolute;
        right: 20px;
        bottom: 27px;
        z-index: 3;
    }
}
.elm-date {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 600;
    color: #5e514c;
    background: #fff;
    white-space: nowrap;
}
.elm-more {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 30px;
    line-height: 28px;
    padding: 0 32px 0 19px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    &:before {
        content: "";
        .i;.icon-arrow12;
        position: absolute;
        top: 50%;
        right: 13px;
        margin-top: -4px;
        transition: all ease 0.2s;
    }
    &:hover {
        background: #fff;
        color: var(--clr-base);
        &:before {
            filter: brightness(1) invert(1);
        }
    }
}
.item-client {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 18/15;
    color: #625550;
    padding: 0 12px;
    .elm-user {
        width: 271px;
        height: 271px;
        margin: 0 auto 30px auto;
    }
    .c-text-wrap {
        padding: 82px 0 0 0;
        position: relative;
        display: block;
        background: url(../img/icons/quote.png) center top no-repeat;
        background-size: 65px auto;
    }
    .c-title {
        display: block;
        text-align: center;
        font-size: 24px;
        color: var(--clr-title);
        font-weight: 600;
        margin-bottom: 40px;
    }
}
.elm-user {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 12px solid #f2e0c6;
    line-height: 0;
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.item-catalog {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
    line-height: 16/12;
    color: #5e514c;
    min-height: 100%;
    border: 2px solid #ededed;
    transition: all ease 0.2s;
    &:hover {
        color: #5e514c;
        box-shadow: 0px 0px 13.5px 1.5px rgba(0, 1, 1, 0.11);
        border-color: #fff;
    }
    .cat-photo-wrap,
    .cat-info-wrap,
    .cat-title-wrap {
        display: block;
        width: 100%;
        position: relative;
    }
    .cat-photo-wrap {
        padding: 40px 0 0 0;
        flex-shrink: 0;
        &.photo-full {
            padding-top: 0;
            .cat-photo {
                &:before {
                    padding-top: 113%;
                }
            }
        }
    }
    .cat-title-wrap {
        flex: 1;
        padding: 10px 15px 4px 15px;
    }
    .cat-stickers-wrap {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        padding: 14px 10px 0 18px;
    }
    .cat-info-wrap {
        flex-shrink: 0;
        padding: 0 15px 10px 15px;
        position: static;
    }
    .cat-rate-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-action-ico {
            height: 30px;
        }
    }
    .cat-price-wrap {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    .cat-actions-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -4px 0 0;
        .btn-action-ico {
            height: 30px;
            width: 30px;
            &.ico-favorites {
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 60px;
                &:before {
                    .icon-fav-main;
                }
                &:after {
                    .icon-fav-main-active;
                }
            }
        }
    }
    .cat-comments {
        display: flex;
        align-items: center;
        min-width: 46px;
    }
    .cat-comments-total {
        font-size: 16px;
        line-height: 20px;
        color: #b37542;
    }
    .cat-title {
        display: block;
        min-height: 32px;
        position: relative;
        color: #5e514c;
        a {
            display: block;
            color: #5e514c;
        }
    }
    .cat-photo {
        display: block;
        position: relative;
        z-index: 2;
        line-height: 1;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .cat-sticker {
        margin-bottom: 8px;
        display: block;
        line-height: 1;
        width: 100%;
    }
    .elm-sticker {
        z-index: 3;
        display: inline-block;
    }
    .elm-price {
        font-size: 14px;
        line-height: 1;
        margin: 0 10px 0 0;
    }
}
.elm-sticker {
    display: block;
    height: 17px;
    padding: 0 7px;
    line-height: 15px;
    position: relative;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    &.st-new {
        background: #3d782f;
    }
    &.st-top {
        background: #fdb900;
    }
    &.st-action {
        background: #f24841;
    }
}
.elm-rates {
    position: relative;
    overflow: hidden;
    line-height: 1;
    display: flex;
    &.rates-main {
        width: 123px;
        height: 23px;
        .elm-rate {
            .icon-rate-full-main;
            margin: 0 2px 0 0;
            &:last-child {
                margin: 0;
            }
            &.rate-empty {
                .icon-rate-empty-main;
            }
        }
    }
    .elm-rate {
        margin: 0 1px 0 0;
        &:last-child {
            margin: 0;
        }
    }
}
.elm-rate {
    .i;.icon-rate-full-m;
    &.rate-empty {
        .icon-rate-empty-m;
    }
    &.rate-disabled {
        .icon-rate-disabled-m;
    }
}
.elm-price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: #665a55;
    white-space: nowrap;
    &.price-new {
        color: #de0931;
    }
    &.price-old {
        color: #000000;
        padding: 0 4px;
        position: relative;
        &:before {
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -1px;
            background: #000;
        }
    }
}
.elm-tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #5e514c;
    &:hover {
        opacity: 0.85;
        color: inherit;
    }
    &.active {
        font-weight: bold;
    }
}
.item-photo, .elm-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.elm-image, .elm-ico, .button-ico, .menu-ico, .frm-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, .i {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
@media (max-width: 1023px) {
    .item-faq {
        .btn-faq {
            padding-left: 15px;
        }
        .faq-block {
            padding-left: 15px;
        }
    }
    .item-review {
        flex-direction: column;
        display: flex;
        .rv-title-wrap {
            display: flex;
            flex-direction: column;
            order: 1;
        }
        .rv-actions {
            order: 2;
        }
        .rv-text {
            order: 3;
        }
        .rv-title {
            order: 1;
        }
        .rv-rate {
            order: 2;
        }
        .rv-date {
            order: 3;
        }
    }
}
@media (min-width: 768px) {
    .item-new {
        display: flex;
        align-items: center;
        .new-photo-wrap {
            margin: 0;
            width: 50%;
            padding: 0 15px 0 0;
            flex-shrink: 0;
        }
        .new-text-wrap {
            width: 50%;
            padding: 0 0px 0 15px;
            flex-shrink: 0;
            line-height: 24/16;
        }
        &.new-reverse {
            flex-direction: row-reverse;
            .new-photo-wrap {
                padding: 0 0 0 15px;
            }
            .new-text-wrap {
                padding: 0 15px 0 0;
            }
        }
    }
}
@media (min-width: 1024px) {
    .item-category {
        .cat-text-wrap {
            padding-top: 8px;
        }
    }
    .item-toggle {
        .btn-toggle {
            padding-left: 45px;
        }
        .toggle-block {
            padding-left: 45px;
            padding-top: 10px;
            font-size: 16px;
            line-height: 1.5;
            ol li li {
                padding-left: 10px;
            }
        }
    }
    .item-article-inner {
        padding: 30px 0 12px 0;
    }
    .item-new {
        .new-text-wrap {
            line-height: 30/16;
        }
    }
    .item-rate {
        .rate-content-wrap {
            padding-right: 50px;
            padding-left: 82px;
            padding-bottom: 20px;
            justify-content: space-between;
        }
        .rate-total-wrap {
            width: 220px;
        }
        .rate-text-wrap {
            max-width: 707px;
            padding-left: 20px;
            padding-top: 22px;
            width: calc(100% - 220px);
        }
    }
    .item-article {
        font-size: 14px;
        .art-text-wrap {
            padding: 10px 0 0 0;
        }
        .art-title {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
    .item-review {
        padding: 20px 20px 30px 20px;
        .rv-title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .rv-text {
            padding-right: 200px;
        }
        .rv-actions {
            display: flex;
            float: left;
            position: absolute;
            bottom: 10px;
            right: 35px;
            z-index: 2;
        }
        .rv-rate {
            width: 100%;
        }
    }
    .item-cart {
        font-size: 16px;
        line-height: 20/16;
        .cart-photo-wrap {
            width: 190px;
            padding-right: 64px;
        }
        .cart-info-wrap {
            display: flex;
            align-items: center;
        }
        .cart-title-wrap {
            margin: 0;
            padding: 0 30px 0 0;
            flex: 1;
        }
        .cart-price-wrap {
            font-size: 16px;
            min-width: 125px;
            flex-shrink: 0;
        }
        .elm-image {
            height: 92px;
        }
    }
    .item-order-total {
        .btn-order-toggle {
            font-size: 18px;
            padding-left: 44px;
            &:before {
                left: 22px;
            }
        }
        .order-block {
            padding-top: 5px;
            padding-right: 0;
        }
    }
    .item-order-product {
        font-size: 16px;
        font-weight: 300;
        .product-title {
            margin-bottom: 28px;
        }
        .pr-price {
            width: auto;
            padding-right: 10px;
        }
    }
    .item-tile {
        .elm-date {
            bottom: 17px;
            left: 10px;
        }
        .elm-more {
            bottom: 17px;
            right: 20px;
        }
        .tile-info-wrap {
            height: 60px;
            padding-left: 20px;
        }
        .tile-title {
            font-size: 18px;
            &.title-large {
                font-size: 18px;
            }
        }
    }
    .elm-date {
        height: 25px;
        line-height: 25px;
        padding: 0 13px;
        font-size: 14px;
    }
    .elm-more {
        height: 25px;
        line-height: 23px;
        padding: 0 30px 0 20px;
        font-size: 14px;
        &:before {
            right: 13px;
        }
    }
    .item-client {
        padding-top: 90px;
        position: relative;
        background: #f2e0c6;
        .elm-user {
            width: 180px;
            height: 180px;
            border-width: 8px;
            position: absolute;
            top: 0px;
            z-index: 2;
            left: 50%;
            margin: 0 0 0 -90px;
        }
        .c-info-wrap {
            display: block;
            position: relative;
            background: #fff;
            padding: 104px 42px 42px 42px;
            font-size: 14px;
            line-height: 17/14;
        }
        .c-text-wrap {
            padding-top: 72px;
            background-size: 44px auto;
        }
        .c-title {
            font-size: 22px;
            margin-bottom: 30px;
        }
    }
    .item-catalog {
        font-size: 16px;
        line-height: 20/16;
        border-width: 1px;
        .cat-photo-wrap {
            padding-top: 50px;
        }
        .cat-title-wrap {
            margin-bottom: 5px;
        }
        .cat-info-wrap {
            padding-bottom: 10px;
        }
        .cat-rate-wrap {
            margin-bottom: 8px;
        }
        .cat-stickers-wrap {
            padding: 21px 10px 0 21px;
        }
        .cat-actions-wrap {
            margin-right: 0;
            padding-right: 5px;
        }
        .cat-comments {
            min-width: 65px;
        }
        .cat-title {
            min-height: 40px;
        }
    }
    .elm-sticker {
        height: 22px;
        line-height: 22px;
        padding: 0 8px;
        font-size: 14px;
    }
    .elm-tag {
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        font-size: 16px;
    }
    .elm-rate {
        .icon-rate-full;
        &.rate-empty {
            .icon-rate-empty;
        }
        &.rate-disabled {
            .icon-rate-disabled;
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .item-cart {
        .cart-photo-wrap {
            width: 150px;
            padding-right: 24px;
        }
    }
}