
<!-- header -->
<header class="header soc-out">
	<div class="header-top-panel">
		<div class="iner-wrap">
			<ul>
				<li>100% гарантия</li>
				<li>Оперативная доставка</li>
				<li>Безопасная оплата</li>
			</ul>
		</div>
	</div>
	<div class="header-main-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.png" alt="">
				</a>
			</div>
			<div class="header-inner-wrap">
				<div class="search-wrap js-popup-wrap">
					<a href="" class="btn-action-ico ico-search js-btn-toggle"></a>
					<div class="search-block js-popup-block">
						<form action="/" class="frm-main-search">
							<input type="text" placeholder="Пошук товару">
							<button class="btn-action-ico ico-search-form"></button>
						</form>
					</div>
				</div>
				<div class="phone-wrap">
					<div class="phone-info">
						<div class="phone-title">Подзвонити нам</div>
						<div class="phone-number">
							<a href="tel:+380999999999">+38 099 999 99 99</a>
						</div>
					</div>
					<div class="phone-button">
						<a href="" class="btn button-light button-border" data-fancybox data-src="#popup-callback">
							<span class="button-ico">
								<span class="i icon-phone"></span>
							</span>
							<span class="button-title">Замовити дзвінок</span>
						</a>
					</div>
				</div>
				<div class="actions-wrap">
					<div class="action-wrap action-fav">
						<a href="" class="btn-action-ico ico-fav">
							<span class="button-count">3</span>
						</a>
					</div>
					<div class="main-cart-wrap action-wrap action-cart js-popup-wrap">
						<a href="" class="btn-action-ico ico-cart js-btn-toggle">
							<span class="button-count">1</span>
						</a>
						<div class="cart-block js-popup-block">
							<div class="cart-title-wrap">
								<div class="cart-title">кошик</div>
								<a href="" class="btn-action-ico ico-close-small js-btn-close"></a>
							</div>
							<div class="cart-info-wrap">
								<p>У вашому кошику</p>
								<p><b>12</b> товарів на суму <b>672</b> грн</p>
							</div>
							<div class="cart-items-wrap">
								<div class="cart-items-inner">
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
									<div class="item-cart-mini">
										<div class="cart-photo-wrap">
											<div class="elm-image">
												<img src="./img/cart.png" alt="">
											</div>
										</div>
										<div class="cart-info-wrap">
											<div class="cart-title">Олія лавандова</div>
											<div class="cart-count">1 х  56 грн</div>
										</div>
										<div class="cart-counter-wrap">
											<div class="frm-counter counter-small js-counter">
												<a href="" class="btn-action-ico ico-plus js-button-counter-plus"></a>
												<a href="" class="btn-action-ico ico-minus js-button-counter-minus"></a>
												<div class="js-input-counter counter-value">1</div>
											</div>
										</div>
										<a href="" class="cart-link"></a>
										<a href="" class="btn-action-ico ico-trash"></a>
									</div>
								</div>
							</div>
							<div class="cart-order-wrap">
								<div class="cart-total-wrap">
									<div class="total-title">Всього:</div>
									<div class="total-value">112 грн</div>
								</div>
								<div class="cart-promo-wrap">
									<form action="/">
										<div class="frm-row">
											<label>Прмокод або купон на знижку:</label>
											<input type="text" class="inp-valid">
										</div>
										<div class="frm-row-submit">
											<input type="submit" value="Оформити" class="button-light">
											<div class="submit-link">
												<a href="">Купити в 1 клік</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="cart-overlay"></div>
					</div>
					<div class="action-menu-wrap action-wrap action-user js-popup-wrap">
						<a href="" class="btn-action-ico ico-user js-btn-toggle"></a>
						<div class="action-menu-block js-popup-block">
							<div class="menu-title-wrap">
								<div class="menu-title">МАГАЗИН</div>
								<a href="" class="btn-action-ico ico-close-small js-btn-close"></a>
							</div>
							<div class="menu-inner-wrap">
								<ul>
									<li>
										<a href="">
											<span class="elm-ico"><img src="./img/icons/menu001.png" alt=""></span>
											Історія замовлень
										</a>
									</li>
									<li>
										<a href="">
											<span class="elm-ico"><img src="./img/icons/menu002.png" alt=""></span>
											Адреса доставки
										</a>
									</li>
									<li>
										<a href="">
											<span class="elm-ico"><img src="./img/icons/menu003.png" alt=""></span>
											Контактні дані
										</a>
									</li>
								</ul>
							</div>
							<div class="menu-actions-wrap">
								<a href="" class="btn">Вихід</a>
							</div>
						</div>
					</div>
					<div class="action-wrap action-lang js-popup-wrap">
						<a href="" class="btn-action-lang js-btn-toggle">
							<span class="button-title">UA</span>
						</a>
						<div class="action-block js-popup-block">
							<a href="" class="btn-action-lang">
								<span class="button-title">RU</span>
							</a>
						</div>
					</div>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<span class="i icon-soc-inst"></span>
					</a>
					<a href="" class="btn-action-ico button-soc">
						<span class="i icon-soc-fb"></span>
					</a>
					<a href="" class="btn-action-ico button-soc">
						<span class="i icon-soc-tg"></span>
					</a>
					<a href="" class="btn-action-ico button-soc">
						<span class="i icon-soc-yt"></span>
					</a>
					<a href="" class="btn-action-ico button-soc">
						<span class="i icon-soc-gp"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-nav-panel main-menu-wrap js-popup-wrap">
		<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
		<div class="menu-block js-popup-block inner-wrap">
			<a href="" class="btn-menu-close js-btn-close">
				<span class="button-title">МЕНЮ</span>
			</a>
			<form action="/" class="frm-main-search">
				<input type="text" placeholder="Пошук по каталогу...">
				<button class="btn-action-ico ico-search-form"></button>
			</form>
			<ul>
				<li>
					<a href="" class="active">Магазин</a>
					<ul>
						<li><a href="">Магазин ссылка</a></li>
						<li><a href="">Магазин ссылка</a></li>
						<li><a href="">Магазин ссылка</a></li>
						<li><a href="">Магазин ссылка</a></li>
						<li><a href="">Магазин ссылка</a></li>
						<li><a href="">Магазин ссылка</a></li>
					</ul>
				</li>
				<li><a href="">Навчання</a></li>
				<li><a href="">Про нас</a></li>
				<li><a href="">Новини</a></li>
				<li><a href="">Йога</a></li>
				<li><a href="">Фітнес</a></li>
				<li><a href="">Массаж</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- /header -->