<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.fancybox.min.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/jquery.maskedinput.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/jquery.ui.touch-punch.min.js"></script>
<script src="./js/scripts.js"></script>
<link rel="stylesheet" href="./css/plugins.css" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
</style>